@import "../../../flex";
@import "../../../grid";

.add-product {
  padding: 10px 30px;
  h2 {
    text-align: center;
  }
  ul {
    width: 100%;
    padding: 10px;
    background-color: rgb(167, 226, 228);

    li {
      width: 90%;
      padding: 10px;
      border-bottom: 1px solid #c4c4c4;
      span {
        color: blue;
        font-weight: bold;
        width: 20%;
        display: inline-block;
      }

      input,
      textarea {
        width: 50%;
      }
      button {
        max-width: 100px;
        color: white;
        background-color: blue;
        border: none;
        border-radius: 10px;
        padding: 5px 10px;
        margin-right: 20px;
      }
    }
  }
}
