.home-page {
  height: 80vh;
  width: 100%;
  .container {
    h2 {
      text-align: center;
      padding: 10px;
      background-color: red;
      margin: 100px 0;
      width: 100%;
      color: white;
    }
  }
}
