@import "../../flex";
@import "../../grid";
.login {
  .container {
    height: 80vh;
    .login-form {
      border-radius: 5px;
      margin: 15% auto;
      min-height: 200px;
      padding: 50px;
      border: 1px solid rgb(107, 104, 104);
      background-color: #c4c4c4;
      width: max-content;
      input,
      button {
        padding: 5px;
      }
    }
  }
}
