@import "grid";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none !important;
  transition: all 0.5s;
}
//modif code in reboot.scss of boostrap
ol,
ul {
  padding-left: 0rem !important;
}
p {
  margin-bottom: 0 !important;
}
dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0 !important;
}
// -----
input,
textarea,
select,
button {
  outline: none;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  @include xl() {
    padding: 0 1%;
  }
  @include lg() {
    padding: 0px 3%;
  }
  @include md() {
    max-width: 1000px;
  }
  @include sm() {
    padding: 0px 1%;
  }
  @include xs() {
    padding: 0px 1%;
  }
}
.container2 {
  max-width: 1400px;
  margin: 0 auto;
  @include lg() {
    padding: 0px 3%;
  }
}
