@import "../../flex";
@import "../../grid";

.main-content {
  .container {
    .main-content__left {
      border-right: 1px solid #c4c4c4;
      width: 15%;
      ul.admin-list {
        width: 100%;
        height: 80vh;
        background-color: rgb(207, 181, 171);
        li {
          width: 100%;
          border-bottom: 1px solid #c4c4c4;
          padding: 10px 0px;

          .title {
            width: 100%;
            p {
              color: blue;
              font-weight: bold;
            }
          }
          .drop-down {
            //text-align: center;
            height: 0px;
            display: none;
            width: 100%;
            // top: 100%;
            // left: 0%;
            li {
              padding-left: 20px;
            }
            color: blueviolet;
          }
          .drop-down__active {
            display: block;
            height: max-content;
          }
        }
      }
    }
    .main-content__right {
      width: 85%;
    }
  }
}
