@import "../../flex";
@import "../../grid";

.main-content {
  .container {
    .main-content__left {
      border-right: 1px solid black;
      width: 15%;
      ul.admin-list {
        width: 100%;
        height: 80vh;
        li {
          width: 100%;
          border: 1px solid black;
          padding: 10px 0px;
          position: relative;
          .title {
            width: 100%;
            p {
              color: blue;
              font-weight: bold;
            }
          }
          .drop-down {
            text-align: center;
            width: 100%;
            top: 100%;
            left: 0%;
            color: blueviolet;
          }
        }
      }
    }
    .main-content__right {
      width: 85%;
    }
  }
}
